@charset "UTF-8";
/* CSS Document */

@import url("base.css");

main{
    width: 100%;
    min-height: 700px;
    max-width: 1100px;
    margin: 30px auto;
    padding: 15px;
    background-color: var(--lightGrey);
    font-family: roboto;
}

#pageHeadline_container{
    text-align: center;
    text-transform: uppercase;
    color: var(--lightBlue);
    font-family: chaletComprime;
    font-size: 1.3em;
    font-weight: normal;
}
