@charset "UTF-8";
/* CSS Document */

@import url("base.css");

main{
    text-align: center;
    font-size: 1.2em;
    background-color: var(--darkBlue);
    font-family: chaletComprime;
    text-transform: uppercase;
    color: var(--white);
}

